.roster {
  display: flex;
  flex-direction: column;
  margin: $size-4 0;
  padding: $size-4 $size-4;
}

.roster--loading {
  align-items: center;
  display: flex;
  height: $size-12;
  justify-content: center;
}

