// =========================================================
// colors
// =========================================================

// gray scale
$white: white;
$gray-1: hsl(180, 5%, 98%);
$gray-2: hsl(180, 5%, 90%);
$gray-3: hsl(180, 5%, 80%);
$gray-4: hsl(180, 5%, 65%);
$gray-5: hsl(180, 5%, 50%);
$gray-6: hsl(180, 5%, 40%);
$gray-7: hsl(180, 5%, 30%);
$gray-8: hsl(180, 5%, 20%);
$gray-9: hsl(180, 5%, 10%);

// primary
$primary-1: hsl(135, 65%, 90%);
$primary-2: hsl(130, 65%, 85%);
$primary-3: hsl(130, 63%, 65%);
$primary-4: hsl(125, 67%, 45%);
$primary-5: hsl(125, 90%, 35%);
$primary-6: hsl(125, 90%, 25%);
$primary-7: hsl(130, 93%, 20%);
$primary-8: hsl(130, 95%, 15%);
$primary-9: hsl(135, 95%, 10%);

// secondary
$secondary-1: hsl(70, 90%, 95%);
$secondary-2: hsl(70, 95%, 85%);
$secondary-3: hsl(65, 90%, 80%);
$secondary-4: hsl(60, 80%, 65%);
$secondary-5: hsl(60, 80%, 55%);
$secondary-6: hsl(45, 80%, 40%);
$secondary-7: hsl(40, 85%, 30%);
$secondary-8: hsl(35, 90%, 20%);
$secondary-9: hsl(30, 95%, 10%);

// go
$go-1: hsl(160, 85%, 90%);
$go-3: hsl(155, 75%, 80%);
$go-5: hsl(150, 55%, 50%);
$go-7: hsl(155, 75%, 30%);
$go-9: hsl(160, 85%, 10%);

// yield
$yield-1: hsl(60, 85%, 90%);
$yield-3: hsl(55, 75%, 80%);
$yield-5: hsl(50, 55%, 50%);
$yield-7: hsl(55, 75%, 30%);
$yield-9: hsl(60, 85%, 10%);

// stop
$stop-1: hsl(20, 85%, 92%);
$stop-3: hsl(20, 75%, 85%);
$stop-5: hsl(10, 55%, 50%);
$stop-7: hsl(15, 75%, 30%);
$stop-9: hsl(20, 85%, 10%);

// =========================================================
//spacing
// =========================================================
$size-1: 0.4rem;
$size-2: 0.8rem;
$size-3: 1.2rem;
$size-4: 1.6rem;
$size-5: 2.4rem;
$size-6: 3.2rem;
$size-7: 4.8rem;
$size-8: 6.4rem;
$size-9: 9.6rem;
$size-10: 12.8rem;
$size-11: 19.2rem;
$size-12: 25.6rem;
$size-13: 38.4rem;
$size-14: 51.2rem;
$size-15: 64rem;
$size-16: 76.8rem;

// =========================================================
// shadows
// =========================================================
$shadow-1: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
$shadow-2: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
$shadow-3: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
$shadow-4: 0 15px 25px hsla(0, 0%, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0%, 0.5);
$shadow-5: 0 20px 40px hsla(0, 0%, 0%, 0.2);
$shadow-input: 0px 1px 2px hsl(180, 5%, 40%);

// =========================================================
// border radius
// =========================================================
$radius-1: 0.2rem;
$radius-2: 0.4rem;
$radius-3: 2rem;

// =========================================================
// screen sizes
// =========================================================
$breakpoint-1: 47.6rem;
$breakpoint-2: 76.8rem;
$breakpoint-3: 99.2rem;
$breakpoint-4: 120rem;

// =========================================================
// fonts
// =========================================================
$font: 'Libre Franklin', sans-serif;